/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-feb-2017, 19:39:09
    Author     : christian
*/

.categoria {
	align-items: center;
	display: flex;
	margin-top: 10px;
}

.categoria:first-child {
	margin-top: 0px;
}

form {
	background-color: #FFF;
	border: none;
	border-radius: 5px;
	margin: auto;
	padding: 5px;
}

#apellido1 {
	margin-left: 30px;
	width: 100%;
}

#apellido2 {
	margin-left: 15px;
}

input[type="text"], input[type="password"],
input[type="mail"] {
	background-color: white;
	border: 0.0625rem solid #AAA;
	/*border-left: none;*/
	border-radius: 0px 0.125rem 0.125rem 0px;
	color: black;
	font-family: textcontent;
	margin-top: 0.3125rem;
	width: 100%;
	padding-left: 0.3125rem;
	height: 1.875rem;
}

input[type="submit"] {
	margin: auto;
	margin-top: 10px;
	display: flex;
}