/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-feb-2017, 19:39:09
    Author     : christian
*/

.categoria {
	align-items: center;
	display: flex;
	margin-top: 10px;
}

.categoria:first-child {
	margin-top: 0px;
}