/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-mar-2017, 14:56:51
    Author     : christian
*/

.secciones {
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
}

.secciones > h1 {
	background-color: rgba (100,100,100,0.7);
	border-bottom: 1px solid black; 
}