/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-mar-2017, 14:56:51
    Author     : christian
*/

.secciones {
	border: 1px solid black;
	border-radius: 3px;
	margin: 10px;
}

.encabezado {
	background-color: rgba(100,100,100,0.5);
	border-bottom: 1px solid black; 
	padding: 5px;
}

.secciones div, .secciones h2 {
	padding: 5px;
}

.descripcion {
	padding-left: 10px;
}

.seccion {
	margin: 10px;
}

a {
	color: black;
}