/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-mar-2017, 14:56:51
    Author     : christian
*/

.secciones, .hilos, .mensajes, #respuestaRapida {
	background-color: rgba(255,255,255,0.6);
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
}

.secciones div, .secciones h2, .hilos div, .hilos h2, .mensajes h2, .mensajes div, #respuestaRapida {
	padding: 5px;
}

.encabezado {
	align-content: center;
	align-items: center;
	background-color: rgba(200,200,200,0.8);
	border-bottom: 1px solid black; 
	border-radius: 5px 5px 0px 0px;
	display: flex;
	justify-content: space-between;
	padding: 5px;

}

.descripcion {
	padding-left: 10px;
}

.seccion, .hilo, .mensaje {
	/*margin: 5px;*/
}

.mensaje {
	border-top: 1px solid black;
	min-height: 100px;
}

.mensaje:first-child {
	border: 20px solid black;
}

a {
	color: black;
}

textarea {
	border: 1px solid #AAA;
	border-radius: 5px;
	height: 100px;
	margin: 0px auto;
	/*margin-left: 10px;*/
	padding-left: 5px;
	padding-top: 5px;
	/*resize: none;*/
}

#respuestaRapida {
	display: flex;
	flex-wrap: wrap;
}

#volver {
	background-image: url(../../sys-images/sprite.png);
	background-position: -110px -17px;
	background-repeat: no-repeat;
	left: 0px;
	height: 1.02rem;
	width: 1.02rem;
}

#responder {
	margin: 0 auto;
	margin-top: 10px;
}